@import "settings";
@import "foundation";

.top-bar {
	text-transform: lowercase;
	letter-spacing: 0.05em;
	border-bottom: 1px solid $secondary-color;
}

.top-bar-section {
	ul li {
		&.active > a {
		&:hover {
			color: $topbar-link-color-active-hover;
		}
		}
	}
}

.fa-chevron-right {
	position: relative;
	top: 0.08em;
}
