@import "settings";
@import "foundation";


.ac-logo {
  text-align: center;
  text-transform: lowercase;
  letter-spacing: 0.05em;

  .ac-icon {
    background-image: url('../img/icon.png');
    background-repeat: no-repeat;
    background-size: 128px 128px;
    width: 128px;
    height: 128px;
    margin: 0 auto;
  }

  .strapline {
    font-size: $header-font-size;
  }

}

.top-bar {
  text-transform: lowercase;
  letter-spacing: 0.05em;
  border-bottom: 1px solid $secondary-color;
}

.top-bar-section {
  ul li {
    &.active > a {
    &:hover {
      color: $topbar-link-color-active-hover;
    }
    }
  }
}

.fa-chevron-right {
  position: relative;
  top: 0.08em;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
.ac-logo {
  .ac-icon {
    background-image: url('../img/icon-2x.png');
  }
}

}
