@import "settings";
@import "foundation";

html, body {
  min-width: 320px;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

.footer, .push {
  height: 4em;
  clear: both;
}

.footer {
  border-top: 1px solid #e7e7e7;
}

.footer-wrapper {
  border-bottom: 4px solid #B1D726;
  background-color: #262626;
  color: white;
}

.footer-content {
  text-align: center;
  padding-top: 1em;
  height: 100%;
}

.footer, .footer p {
  text-transform: uppercase;
  font-family: $subheader-font-family;
  font-weight: 100;
  font-size: 1.2em;
}

.footer a {
  font-weight: 300;
}

.ac-logo {
  text-align: center;
  text-transform: lowercase;
  letter-spacing: 0.05em;

  .ac-icon {
    background-image: url('../img/icon.png');
    background-repeat: no-repeat;
    background-size: 128px 128px;
    width: 128px;
    height: 128px;
    margin: 0 auto;
  }

  .strapline {
    font-size: $header-font-size;
  }

}

.top-bar {
  text-transform: lowercase;
  letter-spacing: 0.05em;
  border-bottom: 1px solid $secondary-color;
}

.top-bar-section {
  ul li {
    &.active > a {
    &:hover {
      color: $topbar-link-color-active-hover;
      background-color: $primary-color;
    }
    }
  }
}

.fa-chevron-right {
  position: relative;
  top: 0.08em;
}

.subheader {
  font-family: $subheader-font-family;
}

.special-header, .special-header a {
  color: $success-color;
}

.light-header {
  color: $small-font-color;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.muted {
  color: $small-font-color;
  font-weight: 300;
}

.minor {
  font-size: 90%;
}

.panel.callout.tool {
  background-color: $body-bg;
}


fieldset {
  legend {
      font-family: $legend-font-family;
      font-size: $legend-font-size;
      text-transform: lowercase;
  }
}

.form-fieldset-reforms {
  label {
    line-height: 1.5em;
  }
  input[type="checkbox"] {
    margin: 0;
  }
}

input.helper,
textarea.helper {
  margin-bottom: 0;
}

span.helper, small.helper {
  @include form-error-message($body-font-color)
}

.list-commas {
  margin-left: 0;
  list-style: none outside none;
}

.list-commas > li {
  display: inline;
}

.list-commas > li:after {
  content: ", ";
}

.list-commas > li:last-child:after {
  content: "";
}

.text-lowercase {
  text-transform: lowercase;
}

.ac-candidate {
  margin-bottom: 1rem;
  border-bottom: 1px solid $secondary-color;

  .avatar {
    float: left;
    top: 3px;
    margin-right: 25px;
    position: relative;

    .badge {
      position: absolute;
      height: 32px;
      width: 32px;
      bottom: 0;
      right: 0;
      z-index: 1000;
    }

    .badge.ac-badge {
      background: url('/img/badges/ac-32x32.png');
    }

    .badge.dc-badge {
      background: url('/img/badges/dc-32x32.png');
    }
  }

  .name {
    display: inline;
    margin-top: 0;
    line-height: 1;
    margin-right: 0.5rem;
  }

  .title {
    color: $small-font-color;
    font-family: $subheader-font-family;
  }

  .contact {
    font-family: $header-font-family;
  }
}

.avatar {
  width: 60px;
  height: 60px;
  background-repeat:no-repeat;
  background-position:center;
}

.img-circle {
  @include radius(50%);
}

@media #{$medium-up} {
  .avatar {
    width: 100px;
    height: 100px;
  }

  .avatar.party-R:after {
    content: " ";
    position: absolute;
    background-color: rgba(255, 125, 125, 0.4);
    width: 100px;
    height: 100px;
    @include radius(50%);
  }

  .avatar.party-D:after {
    content: " ";
    position: absolute;
    background-color: rgba(125, 125, 255, 0.4);
    width: 100px;
    height: 100px;
    @include radius(50%);
  }

  .avatar:after,
  .avatar.party-I:after {
    content: " ";
    position: absolute;
    background-color: rgba(255, 50, 255, 0.4);
    width: 100px;
    height: 100px;
    @include radius(50%);
  }

  .ac-candidate {
    padding-bottom: 1rem;
    .name {
      display: block;
      margin: 18px 0 4px 0;
    }
  }

  .contact {
    margin-top: 18px;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx) {
.ac-logo {
  .ac-icon {
    background-image: url('../img/icon-2x.png');
  }
}

}
