@import "settings";
@import "foundation";

html, body {
  min-width: 320px;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

.footer, .push {
  height: 4em;
  clear: both;
}

.footer {
  border-top: 1px solid #e7e7e7;
}

.footer-wrapper {
  border-bottom: 4px solid #B1D726;
  background-color: #262626;
  color: white;
}

.footer-content {
  text-align: center;
  padding-top: 1em;
  height: 100%;
}

.footer, .footer p {
  text-transform: uppercase;
  font-family: $subheader-font-family;
  font-weight: 100;
  font-size: 1.2em;
}

.footer a {
  font-weight: 300;
}

.ac-logo {
  text-align: center;
  text-transform: lowercase;
  letter-spacing: 0.05em;

  .ac-icon {
    background-image: url('../img/icon.png');
    background-repeat: no-repeat;
    background-size: 128px 128px;
    width: 128px;
    height: 128px;
    margin: 0 auto;
  }

  .strapline {
    font-size: $header-font-size;
  }

}

.top-bar {
  text-transform: lowercase;
  letter-spacing: 0.05em;
  border-bottom: 1px solid $secondary-color;
}

.top-bar-section {
  ul li {
    &.active > a {
    &:hover {
      color: $topbar-link-color-active-hover;
      background-color: $primary-color;
    }
    }
  }
}

.fa-chevron-right {
  position: relative;
  top: 0.08em;
}

.subheader {
  font-family: $subheader-font-family;
}

.special-header, .special-header a {
  color: $success-color;
}

.special-header a:hover, .special-header a:focus {
  color: $anchor-success-color-hover;
}

.serious-header {
  color: $body-font-color;
}

.light-header {
  color: $small-font-color;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.muted {
  color: $small-font-color;
  font-weight: 300;
}

.titled {
  text-transform: capitalize;
}

.minor {
  font-size: 90%;
}

.panel {
  &.callout {
    &.tool {
      background-color: $body-bg;

      a {
        &.button {
         color: $button-font-color;
        }
      }
    }
  }
}

[class*="block-grid-"] .panel {
  margin-bottom: 0;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width:40.063em) {
  [class*="block-grid-"] > li {
    width: 100%;
  }
}

@mixin background-gradient($direction, $color1, $color2) {
  background-color: $color2;
  background: -moz-linear-gradient($direction, $color1, $color2);
  background: -ms-linear-gradient($direction, $color1, $color2);
  background: -webkit-linear-gradient($direction, $color1, $color2); 
}

.button .fa { 
  padding-right: 0.5rem;
}

.button.slim {
  padding: 0.5rem 1.75rem;
  margin: 0 0 0.25rem;
  @include radius();
}

.button.green {
  @include background-gradient(top, #83bb45, #6c9d36);
}
.button.green:hover { 
  @include background-gradient(top, #6c9d36, #6c9d36);
}
.button.blue {
  @include background-gradient(top, #008CBA, #3465a4);
}
.button.blue:hover {
  @include background-gradient(top, #3465a4, #3465a4);
}
.button.orange {
  @include background-gradient(top, #ff7e00, #f57900);
}
.button.orange:hover {
  @include background-gradient(top, #f57900, #f57900);
}
.button.purple {
  @include background-gradient(top, #8d6094, #75507b);
}
.button.purple:hover {
  @include background-gradient(top, #75507b, #75507b);
}

.button.facebook {
  min-width: 210px;
  background-color: $facebook-color-dark;
  background: -moz-linear-gradient(top, #3b5998, #2b4170);
  background: -ms-linear-gradient(top, #3b5998, #2b4170);
  background: -webkit-linear-gradient(top, #3b5998, #2b4170);
}
.button.facebook:hover {
  background-color: $facebook-color-dark;
  background: -moz-linear-gradient(top, #2b4170, #2b4170);
  background: -ms-linear-gradient(top, #2b4170, #2b4170);
  background: -webkit-linear-gradient(top, #2b4170, #2b4170);
}
.button.twitter {
  min-width: 210px;
  background-color: $twitter-color-dark;
  background: -moz-linear-gradient(top, #13cefa, #0899cd);
  background: -ms-linear-gradient(top, #13cefa, #0899cd);
  background: -webkit-linear-gradient(top, #13cefa, #0899cd);
}
.button.twitter:hover {
  background-color: $twitter-color-dark;
  background: -moz-linear-gradient(top, #0899cd, #0899cd);
  background: -ms-linear-gradient(top, #0899cd, #0899cd);
  background: -webkit-linear-gradient(top, #0899cd, #0899cd);
}


fieldset {
  legend {
      font-family: $legend-font-family;
      font-size: $legend-font-size;
      text-transform: lowercase;
  }
}

.form-fieldset-reforms {
  label {
    line-height: 1.5em;
  }
  input[type="checkbox"] {
    margin: 0;
  }
}

input.helper,
textarea.helper {
  margin-bottom: 0;
}

span.helper, small.helper {
  @include form-error-message($body-font-color)
}

.list-commas {
  margin-left: 0;
  list-style: none outside none;
}

.list-commas > li {
  display: inline;
}

.list-commas > li:after {
  content: ", ";
}

.list-commas > li:last-child:after {
  content: "";
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.ac-deed {
  border: 3px solid $body-font-color;
  margin: 2em 0;
  padding: 4px;
  text-align: center;
  box-shadow: 0px 0px 20px #BBBBBB;
  @include radius(5px);

  &.success {
    border: 3px solid $success-color;
    h3, h4 {
      color: $success-color !important;
    }
    .ac-deed-content {
      border: 1px solid $success-color;
    }
  }

  &.error {
    border: 3px solid $alert-color;

    h3, h4 {
      color: $alert-color !important;
    }
    .ac-deed-content {
      border: 1px solid $alert-color;
    }
  }

  .ac-deed-content {
    padding: 2em 3em;
    border: 1px solid $body-font-color;
    .section {
      padding: 2em 0em 2em;
    }

    .ac-deed-title {
      max-width: 200px;
      margin: 0 auto;
      border-bottom: 3px solid $body-font-color;
      text-transform: lowercase;

      span {
        display: block;
      }
    }

    .ac-deed-attribution {
      font-weight: 400;
      margin-bottom: 0;
    }

    .ac-deed-commitment {
      font-size: 70%;
      font-weight: 300;
      font-family: $subheader-font-family;
    }
  }

  .subheader {
    color: $body-font-color;
    line-height: 1;
  }

}

.ac-candidate {
  margin-bottom: 1rem;
  border-bottom: 1px solid $secondary-color;

  .ac-avatar {
    float: left;
    top: 3px;
    margin-right: 25px;
    position: relative;

    .badge {
      position: absolute;
      height: 32px;
      width: 32px;
      bottom: -6px;
      right: 0;
      z-index: 1000;
    }

    .badge-link {
      position: absolute;
      height: 106px;
      width: 36px;
      bottom: -6px;
      right: -2px;
      z-index: 2000;
    }

    .badge-link:hover {
      border-bottom: 2px solid $primary-color;
    }

    .badge.ac-badge {
      background: url('/img/badges/ac-32x32.png');
    }

    .badge.dc-badge {
      background: url('/img/badges/dc-32x32.png');
    }
  }

  .name {
    display: inline;
    margin-top: 0;
    line-height: 1;
    margin-right: 0.5rem;
  }

  .title {
    color: $small-font-color;
    font-family: $subheader-font-family;
  }

  .contact {
    font-family: $header-font-family;
  }
}

.ac-avatar {
  height: 100px;
  width: 100px;
  margin: 0 auto 1em;
  @include radius(50%);
  background-repeat: no-repeat;
  background-position: center;
}

@mixin party-ring($color) {
  content: " ";
  position: absolute;
  margin-top: -11px;
  margin-left: -11px;
  border: 7px solid $color;
  width: 122px;
  height: 122px;
  @include radius(50%);
  opacity: 0.9;
}

.ac-avatar.has-party:after,
.ac-avatar.no-party:after,
.ac-avatar.party-I:after {
  @include party-ring(#b432b4);
}

.ac-avatar.party-R:after {
  @include party-ring(#b43232);
}

.ac-avatar.party-D:after {
  @include party-ring(#3232b4);
}

.ac-avatar.party-G:after {
  @include party-ring(#32b432);
}

@media #{$medium-up} {

  .ac-candidate {
    padding-bottom: 1rem;
    .name {
      display: block;
      margin: 18px 0 4px 0;
    }
  }

  .contact {
    margin-top: 18px;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx) {
.ac-logo {
  .ac-icon {
    background-image: url('../img/icon-2x.png');
  }
}

}
